* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: antiquewhite;
    width: 100%;
}

h1 {
    text-align: center;
    margin-top: 1.5rem;
    font-size: 2rem;
    color: rgb(104, 73, 31);
}

.data {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    font-size: 1.5rem;
    color: rgb(104, 73, 31);
    font-weight: bold;
}

#matter-container {
    position: fixed;
    border-radius: 20px;
    margin: auto;
    top: 10vh;
    left: 50%;
    border: none;
    height: 170vh;
    aspect-ratio: 1.5/2.5;
    overflow: hidden;
    outline: none;
    transform: scale(.5) translate(-100%, -50%);
}

#html-container {
    pointer-events: none;
    position: fixed;
    border-radius: 20px;
    margin: auto;
    top: 10vh;
    left: 50%;
    border: none;
    height: 85vh;
    aspect-ratio: 1.5/2.5;
    overflow: hidden;
    outline: none;
    background-color: white;
    transform: translate(-50%, 0);

    .limit {
        position: absolute;
        top: 13vh;
        left: 0;
        width: 100%;
        height: .5vh;
        background-color: rgba(217, 54, 54, 0.5);
    
    }
}

.next-fruit {
    position: absolute;
    top: 17vh;
    left: 50%;
    width: 3rem;
    height: 3rem;
    object-fit: cover;
    /* no repeat */
    background-size: cover;
    background-position: center;
    transform: translate(-50%, -50%) scale(.5);
}

.highscores {
    position: fixed;
    top: 1.5rem;
    left: 1.5rem;
    color: rgb(104, 73, 31);

    h2 {
        font-weight: bold;
        font-size: 1.5rem;
        margin-bottom: .2rem;
    }

    li {
        font-size: 1.2rem;
        margin-left: 1.5rem;
    }

}

@media (max-width: 730px) {
    .data {
        font-size: 1rem;
        top: .5rem;
        right: 1.7rem;
    }
}

/* on phones make the #matter-container have no margin-top */
@media (max-width: 416px) {
    #matter-container {
        top: 0;
    }
    #html-container {
        top: 0;
    }
    .next-fruit {
        top: 3rem;
    }
}